# Copyright (c) Christopher Di Bella.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception
#
UseColor: true
Checks: '
  *,
  -altera-id-dependent-backward-branch,
  -altera-struct-pack-align,
  -altera-unroll-loops,
  -bugprone-easily-swappable-parameters,
  -bugprone-forwarding-reference-overload,
  -bugprone-reserved-identifier,
  -cert-dcl21-cpp,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -cert-dcl58-cpp,
  -cert-oop54-cpp,
  -cppcoreguidelines-*,
  -fuchsia-*,
  -google-explicit-constructor,
  -google-readability-casting,
  -google-readability-function-size,
  -google-runtime-int,
  -hicpp-avoid-c-arrays,
  -hicpp-explicit-conversions,
  -hicpp-function-size,
  -hicpp-move-const-arg,
  -hicpp-named-parameter,
  -hicpp-no-array-decay,
  -hicpp-noexcept-move,
  -hicpp-signed-bitwise,
  -hicpp-special-member-functions,
  -hicpp-uppercase-literal-suffix,
  -hicpp-use-nullptr,
  -llvm*,
  -misc-confusable-identifiers,
  -misc-const-correctness,
  -misc-non-private-member-variables-in-classes,
  -misc-unconventional-assign-operator,
  -modernize-avoid-c-arrays,
  -modernize-macro-to-enum,
  -modernize-pass-by-value,
  -modernize-use-equals-default,
  -modernize-use-equals-delete,
  -modernize-use-nullptr,
  -modernize-use-trailing-return-type,
  -performance-move-const-arg,
  -performance-noexcept-move-constructor,
  -readability-const-return-type,
  -readability-convert-member-functions-to-static,
  -readability-function-cognitive-complexity,
  -readability-function-size,
  -readability-identifier-length,
  -readability-inconsistent-declaration-parameter-name,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-qualified-auto,
  -readability-redundant-declaration,
  -readability-uppercase-literal-suffix,
  '
WarningsAsErrors: '*'

CheckOptions:
  - key: bugprone-assert-side-effect
    value: CJDB_EXPECTS,CJDB_ENSURES,CJDB_ASSERT
  - key: bugprone-dangling-handle.HandleClasses
    value: '::std::basic_string_view;::std::ranges::subrange;::std::ranges::all_view;::std::ranges::common_view;::std::ranges::keys_view;::std::ranges::values_view'
  - key: bugprone-exception-escape.FunctionsThatShouldNotThrow
    value: 'iter_move,iter_swap'
  - key: readability-simplify-boolean-expr.ChainedConditionalReturn
    value: '1'
  - key: readability-simplify-boolean-expr.ChainedConditionalAssignment
    value: '1'
  - key: readability-simplify-subscript-expr.Types
    value: '::std::array;::std::basic_string;::std::basic_string_view;::std::span;::std::vector'

  - key: readability-identifier-naming.ClassCase
    value: "lower_case"
  - key: readability-identifier-naming.ClassMemberSuffix
    value: "_"
  - key: readability-identifier-naming.ConstantCase
    value: "lower_case"
  - key: readability-identifier-naming.ConstantMemberCase
    value: "lower_case"
  - key: readability-identifier-naming.ConstexprVariableCase
    value: "lower_case"
  - key: readability-identifier-naming.EnumCase
    value: "lower_case"
  - key: readability-identifier-naming.EnumConstantCase
    value: "lower_case"
  - key: readability-identifier-naming.FunctionCase
    value: "lower_case"
  - key: readability-identifier-naming.GlobalCase
    value: "lower_case"
  - key: readability-identifier-naming.MemberCase
    value: "lower_case"
  - key: readability-identifier-naming.MethodCase
    value: "lower_case"
  - key: readability-identifier-naming.NamespaceCase
    value: "lower_case"
  - key: readability-identifier-naming.ParameterCase
    value: "lower_case"
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: "_"
  - key: readability-identifier-naming.PrivateMethodCase
    value: "lower_case"
  - key: readability-identifier-naming.PublicMemberCase
    value: "lower_case"
  - key: readability-identifier-naming.PublicMethodCase
    value: "lower_case"
  - key: readability-identifier-naming.TypeAliasCase
    value: "lower_case"
  - key: readability-identifier-naming.VariableCase
    value: "lower_case"
